body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    width: 550px;
}

.square {
    display: flex;
    border-top: 2px solid black;
    border-right: 2px solid black;
    box-sizing: border-box;
}