@font-face {
    font-family: "FiraCode Nerd Font Mono SemBd";
    src: url("fonts/FiraCodeNFM-SemBd.woff2") format("woff2"),
        url("fonts/FiraCodeNFM-SemBd.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, #container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "FiraCode Nerd Font Mono SemBd";
    gap: 10px;
}

button {
    font-weight: bold;
    color: #1F2937;
    padding: 7px 15px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

#header {
    font-size: 24px;
    margin-top: 10px;
}

.options {
    display: flex;
    gap: 30px;
}

.grid {
    display: flex;
    flex-flow: wrap;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    width: 550px;
}

.cell {
    display: flex;
    border-top: 2px solid black;
    border-right: 2px solid black;
    box-sizing: border-box;
}